$accent-color: #1A4F8B;
$button-text: #fff;
$default-color: #C3C3C3;
$text-grey: #B0B0B0;
$placeholder-color: #767676;
$main-color: #2c3e50;

$radius-sm: 5px;
$radius-md: 8px;

$font-size-xs: 12px;
$font-size-def: 16px;
$font-size-sm: 18px;
$font-size-md: 36px;